Second.Laboratory.Third/Second.Winforms.Second/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="Sensors">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Sensor" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              
              <xs:element name="Id" type="xs:string"/>
              
              <xs:element name="Threshold">
                <xs:simpleType>
                  <xs:restriction base="xs:double">
                    <xs:minInclusive value="-1000"/>
                    <xs:maxInclusive value="100000"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="Unit" type="xs:string" minOccurs="0"/>
              <xs:element name="MaxPressure" type="xs:double" minOccurs="0"/>
              <xs:element name="IsOutdoor" type="xs:boolean" minOccurs="0"/>

            </xs:sequence>
            
            <xs:attribute name="type" type="xs:string" use="required"/>
            
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>